@model QLPHANMEM.Models.NhanVien

@{
    ViewBag.Title = "Details";
}

<h2>Sửa</h2>

<div>
    <h4>Nhân Viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HOTEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIOITINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIOITINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUONG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Thoát", "Edit", new { id = Model.MSNV }) |
    @Html.ActionLink("Quay Lại", "Thông tin nhân viên")
</p>
